* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    background-color: black;
}

p,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Dosis', sans-serif;
}

h2 {
    color: white;
    text-align: center;
    padding: 2rem;
}



nav {
    background-color: white;
    width: 100vw;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

li {
    padding: 1em;
}

li a {
    text-decoration: none;
    color: gray;
    font-family: 'Dosis', sans-serif;
}

li a:hover {
    color: coral;
}


section a {
    text-decoration: none;
}

.topTwenty {
    width: min(70vw, 60em);
    overflow-x: scroll;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(13%, 1fr)); */
    grid-template-columns: repeat(20, 20%);

    justify-self: center;
    column-gap: 1em;
    row-gap: 1em;
    margin: 0 auto;
    /* margin: 1em auto; */
    padding-bottom: 1rem;
    border-radius: .5em;
    margin-bottom: 5rem;
}

.recentlyViewed {
    height: 100%;
    background-color: coral;
    padding: 0 2rem 2rem 2rem;
    margin-top: 1rem;
}

.viewedMovies {
    width: min(70vw, 60em);
    display: grid;
    overflow-x: scroll;
    grid-template-columns: repeat(10, 15%);
    justify-self: center;
    column-gap: .5rem;
    row-gap: .5rem;
    margin: 0 auto;
    padding-bottom: 1em;
}



.topMovies {
    display: none;
    margin-top: 1em;
}

.intro {
    display: none;
}

.intro.active {
    display: block;
}

.recentlyViewed {
    display: none;
    margin-top: 1em;
}

.recentlyViewed.active {
    display: block;
}

.topMovies.active {
    display: block;
}

.topTwenty::-webkit-scrollbar,
.viewedMovies::-webkit-scrollbar {
    background: transparent;
    height: 10px;
}

.topTwenty::-webkit-scrollbar-thumb,
.viewedMovies::-webkit-scrollbar-thumb {
    background: white;
    border-radius: .5em;
}

.searchResults a {
    text-decoration: none;
}

.movie {
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: aliceblue;
    border-radius: .3em;
    color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-zoom {
    /* width: 100%; */
    overflow: hidden;
}

.movie-zoom img {
    width: 100%;
    transition: transform 1.5s, filter 1s ease-in-out;
    transform-origin: center center;
    filter: brightness(70%);
}

.movie-zoom img:hover {
    filter: brightness(100%);
    transform: scale(1.1);
}

/* Resource https://w3bits.com/css-image-hover-zoom/  */

.movie h4 {
    text-align: center;
    margin-top: .3em;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Resource: https://stackoverflow.com/questions/486563/overflowhidden-dots-at-the-end */

.movie:hover {
    color: coral;
    background-color: white;
}

.searchHeading {
    padding: 2rem;
}

/* .searchResultWrapper {
    opacity: 1;
} */

.hide {
    display: none;
}


/* Search field  */
.searchResults {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.searchResults a {
    width: 23%;
    margin: 1rem .5rem;
}

.searchWrapper {
    max-width: calc(100vw - 20em);
    min-width: calc(50em - 10em);
    margin: auto;
    display: none;
}

.searchWrapper.active {
    display: block;
}

.searchResults::-webkit-scrollbar {
    background: transparent;
    height: 10px;
}

.searchResults::-webkit-scrollbar-thumb {
    background: white;
    border-radius: .5em;
}

label {
    display: none;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em;
    margin-top: 4em;
    background-color: coral;
    padding: 1em;
    border-radius: .5em;
}

.searchBtn,
.searchBtnIntro {
    padding: 1em;
    background-color: white;
    color: gray;
    border-radius: .3em;
    border: none;

}

.searchBtn:hover,
.searchBtnIntro:hover {
    color: coral;
}

input[type=text] {
    width: 100%;
    border-radius: .3em;
    border: 2px solid white;
    padding: 1em;
    display: block;
    margin-right: 1em;
}


/* detail page  */
.detailsMovie {
    width: 100vw;
    display: none;
}

.detailsMovie.active {
    display: block;
}


.movieWrap {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 2em;
}


.detailMovieImage {
    height: 100%;
    /* padding: 2em; */
    border: 1rem solid coral;
    margin: 2rem;
    border-radius: .5rem;
}

.movieTitle {
    padding-top: 3rem;
}

.movieOverview {
    color: white;
    padding: 2em;
    width: min(30rem, 50vw);
    margin: 0 auto;
    text-align: center;
}

.voteAverage {
    width: 4rem;
    height: 4rem;
    background-color: coral;
    border-radius: 50%;
    color: white;
    text-align: center;
    position: absolute;
    bottom: -3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}







/* INTRO  */

.intro {
    width: 100vw;
    height: 95%;
    position: relative;
}

.background {
    width: 100vw;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25%, 1fr));
    justify-items: stretch;
    opacity: .2;
}

.movieBgWrap img {
    width: 100%;

}

.formWrap {
    position: absolute;
    top: calc(30% - 15vw);
    left: calc(50% - 35vw);
    width: 70vw;
    /* height: 10em; */
    z-index: 2;
}

.formIntro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em;
    margin-top: 4em;
    background-color: coral;
    padding: 1em;
    border-radius: .5em;
    box-shadow: 0px 0px 28px -2px coral;
}

.viewedMovies h4 {
    font-size: .7em;
}

.viewedMovies .movie {
    padding: .5rem;
}